{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <h3 class="text-center mb-4">Придумайте пароль</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="password1" class="form-label">Пароль</label>
      <input type="password" class="form-control" name="password1" required>
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Повторите пароль</label>
      <input type="password" class="form-control" name="password2" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Сохранить пароль</button>
  </form>
</div>
{% endblock %}